/* Add a background color to the header element */
header {
    background-color: aquamarine;
}
/* Add a fun background color to the main element */
main {
    background-color: black;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */
p {
    font: italic;
    color: lightgrey;
}

/* Put a border around your image */
img {
    border: 10px solid white;
}

/* Change the font-family of your list */
li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Add a background color to the footer element */
footer {
    background-color: aquamarine;
}